body {
}

.footer {
  text-align: center;
}

.location, .show-location {
  padding: 5px;
}

.location a, .show-location a {
  text-decoration: none;
}

.location .accessible {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.location .details {
  padding-top: 10px;
  font-size: 0.9em;
}

.location .name, .show-location .name {
  display: block;
}

.show-location .name {
  font-size: 1.2em;
  display: block;
}
.show-location .accessible {
  padding-left: 10px;
}

.show-location .foursquare {
  font-size: 0.8em;
  text-decoration: underline;
}

/* autocomplete */
.ui-header .ui-btn, .ui-footer .ui-btn {
  display: block;
}
.ui-select a,
.ui-select a > span
 {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
